* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333; /* Dark background for contrast */
}
.game-container {
  position: relative;
  width: 400px;
  height: 200px;
  margin: 0 auto;
  margin-top: 20px;
  outline: 1px solid white;
  transform: scale(4) translateY(50%) translateX(25%);
}
.game-container canvas {
  image-rendering: pixelated;
}
